* {
    background-color: #272727;
    color: #d4d4ca;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

h1 {
    font-family: Garamond, 'Times New Roman', sans-serif;
    font-size: 48px;
    text-align: center;
}

#nav-menu {
    list-style: none;
    font-size: 24px;
}

#nav-menu li {
    margin-bottom: 8px;
}

.promo-pic {
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;   
}

#spiced-lentil-soup {
    object-fit: cover;
}

#pea-and-ham-soup {
    object-fit: none;
    object-position: 0 50%;
}

#grilled-cheese {
    object-fit: cover;
}

.sub-heading {
    font-size: 36px;
    font-family: Garamond, 'Times New Roman', sans-serif;
}

a {
    color: #4848ca;
}

.ingredients-list li {
    padding-bottom: 8px;
}

.steps-list {
    width: 70%;
}

.steps-list li {
    padding-bottom: 8px;
}

.dietary-label {
    font-weight: 600;
}

/*
a:visited {
    color: #551A8B;
}

a:active a:visited:active {
    color: #FF0000;
}
*/